<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PensjonatApp.Properties.Settings.DB" connectionString="Driver={Microsoft Access Driver (*.mdb)};dbq=C:\USERS\GETOX\DESKTOP\STUDIA\BD\PROJ\REP\baza.mdb;uid=Administator"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>